.quarantine-email-list-item
  .quarantine-email-sender-avatar
    esn-avatar(ng-if='$ctrl.email.sender._id', user-id="$ctrl.email.sender._id" )
    esn-avatar(ng-if='!$ctrl.email.sender._id', user-email="$ctrl.email.sender.email" )
  .quarantine-email-body
    .quarantine-email-sender-and-recipients
      .quarantine-email-sender
        //- span {{ $ctrl.email.sender.displayName }}
        //- span.email
        //-   | <
        //-   a(op-inbox-compose, ng-href="mailto:{{ $ctrl.email.sender.email }}")
        //-     span {{ $ctrl.email.sender.email }}
        //-   | >
        inbox-emailer(emailer='$ctrl.email.sender')
      .quarantine-email-recipients
        span(ng-if='$ctrl.email.recipients.length !== 1')
          | #{__('%s recipients', "{{::$ctrl.email.recipients.length}}")}
        span(ng-if='$ctrl.email.recipients.length === 1')
          | #{__('%s recipient', "{{::$ctrl.email.recipients.length}}")}
    .quarantine-email-subject
      span.email-subject {{::$ctrl.email.subject}}
  .quarantine-email-date
    span {{::$ctrl.email.lastUpdated | inboxItemDate}}
